{% extends 'SurveyBundle::base_admin.html.twig' %}

{% block page_css %}
	{% stylesheets
	'@SurveyBundle/Resources/css/dataTables.bootstrap.min.css'
	%}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock page_css %}

{% block li_admin_sessions %}
	class="active"
{% endblock li_admin_sessions %}

{% block content %}
	{% if app.request.get('se') == 1%}
		<div class="alert alert-success" role="alert" style="font-weight: bold;">Changes saved</div>
	{% endif %}

	<h1>Sessions</h1>
	<table id="results" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead>
		<tr>
			<th>User</th>
			<th>Session</th>
			<th>Survey Title</th>
			<th>Type</th>
			<th>Questions</th>
			<th>Start Date</th>
			<th>Active</th>
			<th>Filled</th>
			<th>Edit</th>
			<th>Show</th>
		</tr>
		</thead>

		<tbody>
		{% for session in sessions %}
			<tr>
				<td>{{ session.survey.user }}</td>
				<td>{{ session.name }}</td>
				<td>{{ session.survey.title }}</td>
				<td>{{ session.survey.surveyType.name }}</td>
				<td>{{ session.questions.count }}</td>
				<td>{{ session.fromDate.format('Y-m-d H:i:s') }}</td>
				<td>{{ session.active ? 'Yes' : 'No' }}</td>
				<td>{{ session.questions.count == 0 ? 0 : session.answers.count/session.questions.count }}</td>
				<td class="text-center">
					<a href="{{ path('admin_session_edit', {'id': session.id}) }}">
						<button type="button" class="btn btn-primary btn-xs">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
					</a>
				</td>
				<td class="text-center">
					<a href="{{ path('admin_session_result', {'id': session.id}) }}" name="delete">
						<button type="button" class="btn btn-success btn-xs">
							<span class="glyphicon glyphicon-list-alt"></span>
						</button>
					</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{% block foot_script_assetic %}
		{% javascripts '@SurveyBundle/Resources/jquery-1.11.1.js' '@SurveyBundle/Resources/js/modal.js' '@SurveyBundle/Resources/js/jquery.dataTables.min.js' '@SurveyBundle/Resources/js/dataTables.bootstrap.min.js' %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		<script type="text/javascript">
			$(document).ready(function() {
				$('#results').DataTable({
					"order": [[5, 'desc']],
					"columns" : [
						null,
						null,
						null,
						null,
						null,
						null,
						null,
						{ "width": 60},
						{ "orderable": false, "width": 27 },
						{ "orderable": false, "width": 43}
					]
				});
			} );
		</script>
	{% endblock foot_script_assetic %}
{%  endblock content %}