{% extends 'MopaBootstrapBundle::base_less.html.twig' %}

{% block head_css %}
	{% stylesheets
	'@SurveyBundle/Resources/css/base_logged.less'
	%}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
	{%  block page_css %}
	{% endblock page_css %}
{% endblock %}

{% block body %}
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button> <a class="navbar-brand" href="{{ path('overview') }}">Q&A Survey</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<span class="logged-info logged">Logged in as <a href="{{ path('profile_edit') }}">{{ app.user.forename }}</a></span>
							<a id="logout" href="{{ path('fos_user_security_logout') }}">
								<button type="submit" class="btn btn-primary">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</button>
							</a>
						{% else %}
							<a id="login" href="{{ path('fos_user_security_login') }}"><button type="submit" class="btn btn-success">Sign in</button></a>
						{% endif %}

						{% for type, messages in app.session.flashBag.all %}
							{% for message in messages %}
								<div class="{{ type }}">
									{{ message|trans({}, 'FOSUserBundle') }}
								</div>
							{% endfor %}
						{% endfor %}
					</li>
				</ul>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li {% block li_overview %}{% endblock %}><a href="{{ path('overview') }}">Back to Surveys<br></a></li>
					<li {% block li_dashboard %}{% endblock %}><a href="{{ path('admin_dashboard') }}">Dashboard<br></a></li>
				</ul>
				<ul class="nav nav-sidebar">
					<li {% block li_admin_surveys %}{% endblock %}><a href="{{ path('admin_surveys') }}">Surveys</a></li>
					<li {% block li_admin_questions %}{% endblock %}><a href="{{ path('admin_questions') }}">Questions</a></li>
					<li {% block li_admin_sessions %}{% endblock %}><a href="{{ path('admin_sessions') }}">Sessions</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				{% block content %}
				{% endblock content %}
			</div>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<hr>
			<footer>
				&copy; Sebastian Bachorczyk 2015-2016
			</footer>
		</div>
		<div class="modal fade" id="myDeleteModal">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete?</h4>
					</div>
					<div class="modal-body">
						<p>Are you sure?</p>
					</div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
						<button type="button" data-dismiss="modal" class="btn">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}