{% extends 'SurveyBundle::base_logged.html.twig' %}

{% block page_css %}
	{% stylesheets
	'@SurveyBundle/Resources/css/overview.less'
	%}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock page_css %}

{% block li_overview %}
	class="active"
{% endblock li_overview %}

{% block content %}
	<h1 class="page-header">Dashboard</h1>

	<div class="row placeholders">
		<div class="col-xs-6 col-sm-4 placeholder" id="thumb-left">
			<div>
				<span class="glyphicon glyphicon-folder-open"></span>
				<span class="value">{{ thumbs.survey_count }}</span>
			</div>
			<h4>Surveys</h4>
		</div>
		<div class="col-xs-6 col-sm-4 placeholder" id="thumb-center">
			<div>
				<span class="glyphicon glyphicon-pencil"></span>
				<span class="user">{% if thumbs.last_answer.user is defined %}{{ thumbs.last_answer.user.forename ~ " " ~ thumbs.last_answer.user.surname }}{% else %}Gość{% endif %}</span><br>
				<span class="value">{{ thumbs.last_answer.session.name }}</span>
			</div>
			<h4>Last answer</h4>
		</div>
		<div class="col-xs-6 col-sm-4 placeholder" id="thumb-right">
			<div>
				<span class="glyphicon glyphicon-comment"></span>
				<span class="value">{{ thumbs.session_count }}</span>
			</div>
			<h4>Sessions</h4>
		</div>
	</div>

	<div class="col-sm-6">
		<h2 class="sub-header">New Surveys</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Type</th>
				</tr>
				</thead>
				<tbody>
				{% for survey in tables.surveys | slice(0,5) %}
					<tr>
						<td>{{ survey.title }}</td>
						<td>{{ survey.description[:100] }}</td>
						<td>{{ survey.surveyType.name }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-6">
		<h2 class="sub-header">New Sessions</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Title</th>
					<th>Survey</th>
					<th>Questions</th>
				</tr>
				</thead>
				<tbody>
				{% for session in tables.sessions | slice(0,5) %}
					<tr>
						<td>{{ session.name }}</td>
						<td>{{ session.survey.title }}</td>
						<td>{{ session.questions.count }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{%  endblock content %}